<!--
    we can add a component directly using its selector
    find the selector name in the @Component decorator for that component
    they're all app-<component name> by default
-->
<app-header></app-header>

<!-- 
      want to include this on all your html pages
      the pages to which we will navigate to need to have the router-outlet
      anything that's "static" can be called directly 
      and any nested component that go to the router will load as well
-->
<app-nav></app-nav>
<router-outlet/>

<app-footer></app-footer>